[Unit]
Description=Flask API Service
After=network.target
#Requires=sys-subsystem-net-devices-usb0.device
#After=network-online.target
#Wants=network-online.target

[Service]
User=root
WorkingDirectory=/opt/flask
ExecStart=/usr/bin/python3 -m gunicorn -w 4 -b 0.0.0.0:5000 flask-app:app
Restart=always
#RestartSec=5    
StartLimitInterval=0
#Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
