# SPDX-License-Identifier: MIT
# SPDX-Author: Roman Koch <koch.romam@gmail.com>
# SPDX-Copyright: 2024 Roman Koch <koch.romam@gmail.com>

[Unit]
Description=Print Time Service
After=network.target

[Service]
ExecStart=/usr/bin/print_time.sh
Restart=always

[Install]
WantedBy=multi-user.target

